*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}
form{
    /* background-color: #c17474; */
    width: 30%;
    padding: 48px;
    border-radius: 20px;
    margin-top: 80px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    /* background: #fff;
    color: black; */
}
/* .form-control{
    color: rgb(1, 9, 9);
    border-bottom: rgb(44, 6, 6);
    box-shadow: none |important;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
} */
.links a img{
    max-height: 20px;
    margin-right: 8px;
    margin-bottom: 2px;
}
@media screen and (max-width:700px) {
    .form-box{
        width:100%;
    }
    
}
